.card {
    width: 30%;
    margin: 15px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    border: 1px solid #3338;
}

.card_company {
    margin: 10px 0;
    color: #3338;
}

.card_date {
    color: #3338;
    margin-top: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
}


@media only screen and (max-width: 992px) {
    .card {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 85%;
    }
}
